<ion-modal-view ng-app='app' ng-controller='libraryCtrl' ng-init="getLibrary()" style="background: transparent !important;">
   <ion-header-bar class="bar bar-header bar-dark">
      <h2 class="title">{{libraryTitle}}</h2>
      <button class="button button-primary" ng-click="hideLibrary()">Back</button>
   </ion-header-bar>
   <ion-content scroll="true">
      <div class="button-bar" style="text-alight:right !important;">
         <a class="button button-balanced icon-left ion-plus-circled" ng-click="doAdd()">Create</a>
         <a id="libraryStack" class="button icon-left ion-navicon-round " ng-click="doReorder()">Reorder</a>
         <a id="libraryTrash" class="button  icon-left ion-trash-a" ng-click="doDelete()">Delete</a>
      </div>
      <ion-list show-delete="libraryTrash" show-reorder="libraryStack">
         <ion-item class="item-icon-left" ng-repeat='item in library track by $index' ng-click=doClick({{$index}})>
            <ion-delete-button class='ion-trash-a' ng-click="doDelete2($index)"></ion-delete-button>
            <ion-reorder-button class="ion-navicon" on-reorder="moveLibrary(item, $fromIndex, $toIndex)"></ion-reorder-button>
            <i class={{getBookIcon($index)}}></i>
            <span style="white-space:normal;">{{bookListing($index)}}</span>
         </ion-item>
      </ion-list>
   </ion-content>
</ion-modal-view>
