<ion-view title="OCR Text" id="page8" class=" ">
    <ion-content padding="true" style="background: url(img/j0Pv0vfDSMeO1vmRBi38_caprisun.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="list card " id="oCRText2-card22">
            <p id="oCRText2-markdown2" style="color:#000000;font-size:23px;" class=" ">CAPRISUN NO ARTIFICIAL COLORS, FLAVORS OR PRESERVATIVES</p>
            <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="oCRText2-video2" class=" ">
                <iframe src="https://www.youtube.com/embed/HUlvWv-oKHk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
            </div>
            <div class=" item item-image">
                <img src="img/4NbuTIRIQNGcjzc0rO0o_caprisun.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="oCRText2-button-bar1" class=" button-bar ">
                <a ui-sref="tabsController.camera" id="oCRText2-button1" class=" button button-balanced  button-block icon-right ion-android-add-circle ">Save</a>
                <a ui-sref="tabsController.camera" id="oCRText2-button3" style="border-radius:0px 0px 0px 0px;" class=" button button-stable  button-block ">Cancel</a>
            </div>
        </div>
    </ion-content>
</ion-view>