<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Results</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
    </ion-header-bar>
    <ion-content ng-controller="cameraCtrl">
        <div class="list card">
            <button ng-repeat="term in entry.terms" ng-click="show({{term.jsonArray}})" style="font-weight:300;" class=" button {{term.color}} button-clear ">{{term.name}}</button>
            <div class="item item-image">
                <img src="{{entry.img}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>

    </ion-content>
	<ion-footer-bar style="color=transparent">
			<div class="button-bar">
                <a style="margin-top=-5px" id="saveToSignBook-button1" class="button button-balanced  button-block icon-right ion-android-add-circle" ng-click="addAndSave();modal.hide();">Save</a>
                <a style="border-radius:0px 0px 0px 0px;" class=" button button-stable  button-block" ng-click="modal.hide()">Cancel</a>
		</div>
		</ion-footer-bar>
</ion-modal-view>
