<ion-view title="Save to SignBook" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="saveToSignBook-card22">
            <button id="saveToSignBook-button17" style="font-weight:300;" class=" button button-positive  button-clear ">Capri</button>
            <button id="saveToSignBook-button18" style="font-weight:300;" class=" button button-positive  button-clear ">Sun</button>
            <div class=" item item-image">
                <img src="img/4NbuTIRIQNGcjzc0rO0o_caprisun.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="saveToSignBook-button-bar1" class=" button-bar ">
                <a ui-sref="tabsController.camera" id="saveToSignBook-button1" class=" button button-balanced  button-block icon-right ion-android-add-circle ">Save</a>
                <a ui-sref="tabsController.camera" id="saveToSignBook-button3" style="border-radius:0px 0px 0px 0px;" class=" button button-stable  button-block ">Cancel</a>
            </div>
        </div>
    </ion-content>
</ion-view>