<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">SignBook Entry</h1>
		<button class="button button-clear button-primary" ng-click="smartHide()">Back</button>
    </ion-header-bar>
    <ion-content ng-controller="cameraCtrl">
        <div class="list card">
            <div class="item item-image">
                <img id="imgEntry" src="{{entry.img}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <button ng-repeat="term in entry.terms" ng-click=show("{{term.clean}}") style="font-weight:300;" class=" button {{term.color}} button-clear ">{{term.name}} </button>
        </div>
    </ion-content>
	<ion-footer-bar style="color=transparent">
		<div class="button-bar">
            <a style="margin-top:4px; font-size: 22px;" id="saveToSignBook-button1" class="button button-block button-calm ion-android-arrow-back button-outline" ng-click="prevPage();"></a>
            <a style="margin-top:4px; font-size: 22px;" class=" button button-outline button-block button-calm ion-android-arrow-forward" ng-click="nextPage()"></a>
		</div>
	</ion-footer-bar>
</ion-modal-view>
