 <ion-modal-view ng-app='app' ng-controller='videoCtrl' ng-click='videoModal.hide()' style="background: transparent !important;">
        <ion-content class="">
            <div class="list card pop">
			<h4 class="title">{{name}}</h4>
				<div style="position:relative;overflow:hidden;padding-bottom:56.25%;" class=" ">
					<iframe src='{{getUrl()}}' frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;left:0;width:100%;height:100%;"></iframe>
				</div>
			</div>
        </ion-content>
</ion-modal-view>
